.landingPage {
    background-image: url(https://drive.google.com/file/d/1J_yA6i-5JUSm6bkc0ZKEIXV3K_96yeDD/view?usp=sharing);
}

.navbar {
    box-sizing: border-box;
    margin: 0;
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2rem;
    padding: 0 1rem;
}

.navbar a {
    font-size: 1.5rem;
    color: inherit;
}

.about {
    margin: 200px;
}

.crash-course img {
    right: 0;
    width: 50%;
    height: 50%;
}
